body {
  margin: 0;
  user-select: none;
}

.container {
  background-color: black;
  margin: 50px auto;
  position: relative;

  width: 300px;
  height: 100px;
}

.item {
  width: 100px;
  height: 100px;

  transition: 500ms;
}

.item_on {
  transform: translateX(200px);
}

.item1 {
  background-color: lightskyblue;
}

.item2 {
  background-color: blueviolet;
}
.item3 {
  background-color: lightseagreen;
}
